/** CSS STYLE **/
@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300; /* Соответствует значению light */
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Neucha";
  src: url("../../fonts/Neucha/Neucha-Regular.ttf");
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  text-align: left;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 100px auto;

  text-align: center;
}

.bg-before::before {
  position: absolute;
  top: 0;

  display: block;

  width: 100%;
  height: 100%;

  background-color: #b09a81;

  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";

  /* overflow: hidden; не понимаю куда нужно добавить это свойство, потмоу что если его добавить в контейнер, он режет картинку, а по макету так делать не надо */
}

.header-text {
  position: absolute;
  top: 55px;
}

.header-h1 {
  color: #fe8a02;

  text-align: left;
}

.header-h1-span {
  color: #2a2626;
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;

  max-width: 100%;
  height: 525px;
  padding: 0;
}

.text-columns {
  position: relative;
  top: 185px;

  text-align: left;
  column-count: 2;
  column-gap: 30px;
}

.text-columns p {
  margin-top: 0;
}

.second-column {
  break-inside: avoid;
}

.botton-header {
  position: relative;
  top: 40px;

  padding: 12px 24px;

  color: #fff;
  font-weight: bold;
  text-decoration: none;

  background-color: #fe8a02;
}
