/** CSS STYLE **/
@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300; /* Соответствует значению light */
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Neucha";
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

body {
  margin: 0;

  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: 400;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  text-align: left;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  max-width: 1110px;
  padding: 100px 165px;

  text-align: center;
}

.bg-before::before {
  position: absolute;
  top: 0;

  display: block;

  width: 1440px;
  height: 914px; /* нужно исправить, значения подобраны вручную */
  overflow: hidden;

  background-color: #b09a81;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";

  /* overflow: hidden; не понимаю куда нужно добавить это свойство, потмоу что если его добавить в контейнер, он режет картинку, а по макету так делать не надо */
}

.bg {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  display: block;

  width: 100%;
  height: 100%; /* нужно исправить, значения подобраны вручную */
  margin: 0;
  overflow: hidden;

  background-color: #b09a81;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";
}

.bg-901 {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  display: block;

  width: 100%;
  height: 100%; /* нужно исправить, значения подобраны вручную */
  margin: 0;
  overflow: hidden;

  background-color: #b09a81;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";
}

.h1-span {
  color: #fe8a02;
}

.main-img {
  position: absolute;
  top: 55px;
  left: 461px;

  width: 1082.81px;

  height: 525px;
  padding: 0;
}

.text-columns {
  padding-top: 201px;

  text-align: left;
  column-count: 2;
  column-gap: 30px;
}

.text-columns p {
  margin-top: 0;
}

.first-colum {
  break-after: column;
}

.second-column {
  break-inside: avoid;
}

.left-column {
  padding-left: 30px;
}

.button-header {
  padding: 12px 24px;

  color: #fff;
  font-weight: bold;
  text-decoration: none;

  background-color: #fe8a02;
}

.div-button-header {
  margin-top: 51px;
}

.button-header:hover {
  background-color: #ea7600;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

header {
  height: 714px;
  overflow: hidden;
}

.section-h1 {
  margin-bottom: 30px;

  text-align: center;
}

.section-video-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-video {
  z-index: 1;

  margin-bottom: -100px;
  padding-bottom: 0;
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 80px;

  background-color: #42413c;
}

.button-navigation {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 340px;

  margin-bottom: 20px;

  padding: 24px;

  border: 0;

  color: #2a2626;
  text-decoration: none;

  background-color: #f5f4f0;
}

.button-h1 {
  width: 350px;
  height: 340px;
  margin: 0;
  padding: 0;

  background-color: #42413c;
}

.h2-number {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 1em;
}

.button-navigation:hover {
  background-color: #fe8a02;
}

.effect-columns {
  text-align: left;
  column-count: 2;
  column-gap: 30px;
}

.column-width {
  column-width: 502px;
}

.img-column {
  position: relative;
  left: -37px;
}

.effect-img {
  /* width: 578px; */
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.img {
  padding-bottom: 100px;
}

.effect-columns p {
  margin-top: 0;
}

.line-h3 {
  /* margin-top: 100px; */
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #fff;

  background-color: #b09a81;
}

.line-h3 h3 {
  padding-left: 10px;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.second-column h2 {
  margin-bottom: 30px;
}

.first-p {
  margin: 0;

  color: #908d8b;
  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.second-p {
  font-weight: 400;
  font-size: 34px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.bg-premature-optimization {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;

  background-color: #b09a81;
  opacity: 10%;
}

.footer-columns {
  color: #fff;
  text-align: left;
  column-count: 2;

  background-color: #42413c;
}

.footer-first-colum {
  break-after: column;

  margin: 0;
  padding: 55px;
}

.footer-form {
  padding-top: 38px;
  padding-right: 55px;
  padding-bottom: 40px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-footer {
  width: 70px;
  height: 50px;
  padding: 0;
  border: 0;

  background-color: #fe8a02;
}

.email-adress-footer {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;

  outline: none;
}

.email-adress-footer::placeholder {
  font-size: 13.1px;
  font-family: "Open Sans", sans-serif;
}

.row input {
  padding-left: 15px;
}

.email-adress-p {
  margin-top: 0;
  margin-bottom: 9px;

  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.service-rules {
  margin-top: 0;
  margin-bottom: 0;

  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.bg-button-footer::before {
  display: block;

  width: 20px;
  height: 20px;
  margin: auto;
  overflow: hidden;

  background-color: #fe8a02;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.contact-information {
  padding-top: 60px;
}

.contact-information p {
  margin: 0;

  font-size: 14px;
}

.contact-information p:nth-child(2) {
  margin-top: 16px;
  margin-bottom: 16px;
}

#hyperbolic-depreciation {
  color: #fff;

  background-color: #b09a81;
}

#hyperbolic-depreciation p {
  color: #fff;
}

#hyperbolic-depreciation h3 {
  padding-top: 5px;
  padding-bottom: 5px;

  padding-left: 10px;

  color: #b09a81;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  background-color: #fff;
}

#hyperbolic-depreciation div:first-child {
  margin-left: 0;
}

#hyperbolic-depreciation div:last-child {
  margin-left: -10px;
}

#premature-optimization {
  color: #fff;

  background-color: #b09a81;
}

#premature-optimization p {
  color: #fff;
}

#premature-optimization h3 {
  padding-top: 5px;
  padding-bottom: 5px;

  padding-left: 10px;

  color: #b09a81;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  background-color: #fff;
}

#premature-optimization div:first-child {
  margin-left: 0;
}

/* #premature-optimization div:last-child {
  margin-left: 0px;
}  */

#navigation div h1 {
  color: #fff;
  font-size: 52px;
}

#navigation button a h3 {
  color: #fe8a02;
}

#navigation button a {
  color: #2a2626;
  text-align: left;
  text-decoration: none;
}

#navigation button p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

#navigation button:hover a h2,
#navigation button:hover a h3,
#navigation button:hover a p {
  color: #fff;
}
